*.DS_Store
*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
*.wav
*.sh
__pycache__
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
main
obama_addresses
