*.DS_Store
*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
*.wav
*.sh
__pycache__/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
main
obama_addresses/
image_data/
outputs/
face_landmark_data/image_data/
#frontalized/
